<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title"> Customer Other Code </h3>
    </div> 
    <form [formGroup]="customerOtherCodeForm"(ngSubmit)="customerOtherCodeForm.valid" autocomplete="off">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="text"  formControlName="codeHeaderValue"/>
                            <label igxLabel > Code Header Value </label>
                        </igx-input-group>
                    </div>
                </div>
                
                <div class="col-md-1">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default mr-3" (click)="resetControlls()">
                            <i class="fas fa-broom"></i> </button>
                        <button type="button" class="btn btn-success" [disabled]="!customerOtherCodeForm.valid" (click)="saveCustomerOtherCode()">
                            <i class="fas fa-save"></i> </button>
                    </div>
                </div>  
            </div> 
        </div> 
        
        <div class="row">
            <div class="col-md-6">
                <igx-grid #customerOtherCodeGrid [data]=" customerOtherCodeList" [autoGenerate]="false" [paging]="true" [rowEditable]="false"
                    [primaryKey]="'autoId'" cellSelcustomerOtherCodeListection="none"  (onColumnResized)="onResize($event)" [perPage]="10"
                    height="500px" displayDensity="compact" [allowFiltering]="true"
                    [filterMode]="'excelStyleFilter'" [allowAdvancedFiltering]="true" [rowSelection]="'Single'">

                    <igx-column [width]="'50px'" [selectable]="false" [sortable]="false" [resizable]="false">
                        <ng-template igxCell let-cell="cell">
                            <button igxButton="icon" class="fab-compact" (click)="onEditCustomerOtherCode($event,cell.cellID)">
                                <igx-icon family="material">edit</igx-icon>
                            </button>
                        </ng-template>
                    </igx-column>                        
                    <igx-column [field]="'codeHeaderValue'" [header]="'Code Value'" [resizable]="true" [dataType]="'string'"
                        [sortable]="true">
                    </igx-column>   
                </igx-grid>
            </div>
        </div> 
    </form > 
</div> 