<div class="card-header">
    <h3 class="card-title">Customer Currency </h3>
</div>

<div class="card-body">
    <form [formGroup]="custCurrencyForm" (ngSubmit)="custCurrencyForm.valid" autocomplete="off">
        <div class="card-body">
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label> Customer </label>
                        <igx-combo #customerC id="customerCId" class="combo" displayKey="name" valueKey="autoId"
                            [itemsMaxHeight]="250" [data]="customerList" placeholder="Customer"
                            (onSelectionChange)="singleSelection($event)" (onSelectionChange)="onCustomerSelect($event)"
                            formControlName="customerCId" searchPlaceholder="Search...">
                        </igx-combo>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label> Currency </label>
                        <igx-combo #currency id="currencyId" class="combo" displayKey="code" valueKey="autoId"
                            [itemsMaxHeight]="250" [data]="currencyList" placeholder="Currency"
                            (onSelectionChange)="singleSelection($event)" formControlName="currencyId"
                            searchPlaceholder="Search...">
                        </igx-combo>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default mr-3" (click)="clearCustomerCurrency()">
                            <i class="fas fa-broom"></i> </button>
                        <button type="button" class="btn btn-success" [disabled]="!custCurrencyForm.valid"
                            (click)="saveCustomerCurrency()">
                            <i class="fas fa-save"></i> </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-6">
            <igx-grid #cusCurrencyGrid [data]="cusCurrencyList" [autoGenerate]="false" [paging]="true"
                [rowEditable]="false" [primaryKey]="'autoId'" cellSelection="none" (onColumnResized)="onResize($event)"
                [perPage]="10" height="400px" displayDensity="compact" [allowFiltering]="true"
                [filterMode]="'excelStyleFilter'" [allowAdvancedFiltering]="true" [rowSelection]="'Single'">
                <igx-column [width]="'60px'" [selectable]="false" [sortable]="false" [resizable]="false">
                    <ng-template igxCell let-cell="cell">
                        <button igxButton="icon" class="fab-compact" (click)="openDelivDialog($event,cell.cellID)">
                            <igx-icon family="material">delete</igx-icon>
                        </button>
                    </ng-template>
                </igx-column>
                <igx-column [field]="'code'" [header]="'Currency'" [resizable]="true" [dataType]="'string'"
                    [sortable]="true">
                </igx-column>
                <igx-column [field]="'name'" [header]="'Name'" [resizable]="true" [dataType]="'string'"
                    [sortable]="true">
                </igx-column>
                <igx-column [field]="'symbol'" [header]="'Symbol'" [resizable]="true" [dataType]="'string'"
                    [sortable]="true">
                </igx-column>
            </igx-grid>
        </div>
    </div>
</div>

<igx-dialog #dialog title="Confirmation" leftButtonLabel="Cancel" (onLeftButtonSelect)="dialog.close()"
    rightButtonLabel="OK" (onRightButtonSelect)="onDialogOKSelected($event)"
    message="Are you sure you want to delete the record ?">
</igx-dialog>