<section class="content">
    <!-- <div class="container-fluid"> -->
        <!-- <div class="col-12"> -->
            <div class="card card-default card-outline card-tabs">
                
                <div class="card-header p-0 pt-1 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                        <li class="nav-item" *ngIf="units">
                            <a class="nav-link active" id="custom-tabs-unit-tab" data-toggle="pill" href="#unit-tab" 
                                role="tab" aria-controls="unit-tab" aria-selected="true"> Unit </a>
                        </li>
                        <li class="nav-item" *ngIf="unitConv">
                            <a class="nav-link" id="custom-tabs-conversion-tab" data-toggle="pill" href="#conversion-tab"
                                role="tab" aria-controls="conversion-tab" aria-selected="false">Unit Conversion</a>
                        </li>                                      
                    </ul>
                </div>
                <div class="tab-content" id="custom-tabs-four-tabContent">
                    <div class="tab-pane fade show active" id="unit-tab" role="tabpanel"
                        aria-labelledby="custom-tabs-unit-tab">
                        <app-master-units></app-master-units>
                    </div>
                    <div class="tab-pane fade" id="conversion-tab" role="tabpanel"
                        aria-labelledby="custom-tabs-conversion-tab">
                        <app-unit-conversion></app-unit-conversion>
                    </div>                              
                </div>
            </div>
        <!-- </div> -->
    <!-- </div>  -->
    <!-- /.container-fluid -->
</section>


