<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title"> Unit Conversion</h3>  
    </div>

    <form [formGroup]="unitConvForm" (ngSubmit)="unitConvForm.valid"  autocomplete="off">
        <div class="card-body">        
            <div class="row">

                <div class="col-md-2">
                    <div class="form-group">
                        <label> From Unit </label>
                        <igx-combo #fromUnit id="fromUnit" class="combo" displayKey="name" valueKey="autoId"
                            [itemsMaxHeight]="250" [data]="fromUnitList" placeholder="From Unit"
                            (onSelectionChange)="singleSelection($event)" formControlName="fromUnit" searchPlaceholder="Search...">
                        </igx-combo>
                    </div>
                </div>  
                
                <div class="col-md-2">
                    <div class="form-group">
                        <label> To Unit </label>
                        <igx-combo #toUnit id="toUnit" class="combo" displayKey="name" valueKey="autoId"
                            [itemsMaxHeight]="250" [data]="toUnitList" placeholder="To Unit"
                            (onSelectionChange)="singleSelection($event)" formControlName="toUnit" searchPlaceholder="Search...">
                        </igx-combo>
                    </div>
                    <label class="text-danger" *ngIf="unitConvForm.errors">{{ unitConvForm.errors?.invalid | json }}</label>
                </div>   

                <div class="col-md-1">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="number" formControlName="value" />
                            <label igxLabel> Value </label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="btn-group">                    
                        <button type="button" class="btn btn-default mr-1" (click)="clearControls()">
                            <i class="fas fa-broom"></i> </button>
                        <button type="button" class="btn btn-success mr-1" [disabled]="!unitConvForm.valid" (click)="saveUnit()">
                            <i class="fas fa-save"></i> </button>
                        <button type="button" class="btn btn-default" (click)="resetControls()">
                            <i class="fas fa-redo-alt"></i> </button>
                    </div>
                </div>                    
            </div>

            <div class="row">
                <div class="col-md-6">
                    <igx-grid #unitConvGrid [data]="unitConvList" [autoGenerate]="false" [paging]="true" [rowEditable]="false"
                        [primaryKey]="'autoId'" cellSelection="none" (onColumnResized)="onResize($event)" [perPage]="10" height="500px"
                        displayDensity="compact" [allowFiltering]="true" [filterMode]="'excelStyleFilter'" [allowAdvancedFiltering]="true"
                        [rowSelection]="'Single'">
                    
                        <igx-column [width]="'50px'" [selectable]="false" [sortable]="false" [resizable]="false">
                            <ng-template igxCell let-cell="cell">
                                <button igxButton="icon" class="fab-compact" (click)="onEdit($event,cell.cellID)">
                                    <igx-icon family="material">edit</igx-icon>
                                </button>
                            </ng-template>
                        </igx-column>
                        <igx-column [field]="'fromUnit'" [header]="'From Unit'" [resizable]="true" [dataType]="'string'" [sortable]="true">
                        </igx-column>
                        <igx-column [field]="'toUnit'" [header]="'To Unit'" [resizable]="true" [dataType]="'string'" [sortable]="true">
                        </igx-column>
                        <igx-column [field]="'value'" [header]="'Value'" [resizable]="true" [dataType]="'number'" [sortable]="true">
                        </igx-column>
                    </igx-grid>
                </div>
            </div>
        </div>
    </form>
</div>

